Repository xianyuntang/ostler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, rustfmt --check

Added basic layout
  .idea/prettier.xml
  eslint.config.js
  index.html
  src/App.tsx
  src/components/header/header.tsx
  src/components/header/index.ts
  src/components/sidebar/cluster-picker/cluster-picker.tsx
  src/components/sidebar/cluster-picker/index.ts
  src/components/sidebar/index.ts
  src/components/sidebar/sidebar.tsx
  src/index.tsx
  src/pages/deployment/deployment.tsx
  src/pages/deployment/index.ts
  src/pages/namespace/index.ts
  src/pages/namespace/namespace.tsx
  src/pages/pod/index.ts
  src/pages/pod/pod.tsx
  vite.config.ts
Due: eslint, prettier --check

Updated html title
  index.html
Due: prettier --check

Added namespace functionality
  .husky/pre-commit
  .idea/compiler.xml
  .lintstagedrc
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domain/mod.rs
  src-tauri/src/domain/resources/mod.rs
  src-tauri/src/domain/resources/namespace.rs
  src-tauri/src/infrastructure/error.rs
  src-tauri/src/infrastructure/mod.rs
  src-tauri/src/infrastructure/response.rs
  src-tauri/src/main.rs
  src/App.tsx
  src/components/header/header.tsx
  src/components/layout/index.ts
  src/components/layout/layout.tsx
  src/core/index.ts
  src/core/invoker.ts
  src/pages/namespace/namespace.tsx
  src/services/index.ts
  src/services/namespace.ts
Due: eslint, prettier --check, rustfmt --check

Added node version
  .tool-versions
Due: none

Added deployments table
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  package.json
  src-tauri/src/domain/resources/deployment.rs
  src-tauri/src/domain/resources/mod.rs
  src-tauri/src/main.rs
  src/pages/deployment/deployment.tsx
  src/pages/namespace/namespace.tsx
  src/services/deployment.ts
  src/services/index.ts
Due: eslint, prettier --check, rustfmt --check

Added switch context functionality
  .idea/fastRequest/fastRequestCurrentProjectLocalConfig.xml
  .idea/jsLibraryMappings.xml
  .idea/ruff.xml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domain/resources/client_manager.rs
  src-tauri/src/domain/resources/context.rs
  src-tauri/src/domain/resources/deployment.rs
  src-tauri/src/domain/resources/mod.rs
  src-tauri/src/domain/resources/namespace.rs
  src-tauri/src/infrastructure/app.rs
  src-tauri/src/infrastructure/mod.rs
  src-tauri/src/infrastructure/response.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/components/sidebar/cluster-picker/cluster-picker.tsx
  src/components/sidebar/cluster-picker/index.ts
  src/components/sidebar/context-picker/context-picker.tsx
  src/components/sidebar/context-picker/index.ts
  src/components/sidebar/sidebar.tsx
  src/pages/deployment/deployment.tsx
  src/pages/namespace/namespace.tsx
  src/services/context.ts
  src/services/index.ts
  src/stores/index.ts
  src/stores/use-kube-context.ts
Due: eslint, prettier --check, rustfmt --check

Added multiple context / namespace support
  src-tauri/src/domain/resources/deployment.rs
  src-tauri/src/domain/resources/namespace.rs
  src/components/layout/layout.tsx
  src/components/layout/namespace-picker/index.ts
  src/components/layout/namespace-picker/namespace-picker.tsx
  src/components/sidebar/context-picker/context-picker.tsx
  src/components/sidebar/sidebar.tsx
  src/index.tsx
  src/pages/deployment/deployment.tsx
  src/pages/namespace/index.ts
  src/pages/namespace/namespace.tsx
  src/services/deployment.ts
  src/services/namespace.ts
  src/stores/index.ts
  src/stores/use-kube-context.ts
  src/stores/use-kube.ts
Due: eslint, rustfmt --check

Organized component
  src/components/resources/deployment/deployment.tsx
  src/components/resources/deployment/index.ts
  src/components/resources/index.ts
  src/index.tsx
  src/pages/deployment.page.tsx
  src/pages/pod.page.tsx
  src/pages/pod/index.ts
  src/pages/pod/pod.tsx
Due: eslint

Added container status
  package-lock.json
  package.json
  src-tauri/src/domain/resources/mod.rs
  src-tauri/src/domain/resources/pod.rs
  src-tauri/src/main.rs
  src/components/resources/pod/container-status/container-status.tsx
  src/components/resources/pod/container-status/index.ts
  src/components/resources/pod/index.ts
  src/components/resources/pod/pod.tsx
  src/pages/pod.page.tsx
  src/services/deployment.ts
  src/services/index.ts
  src/services/pod.ts
Due: eslint, prettier --check, rustfmt --check

Added pod portforward
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domain/client/client_manager.rs
  src-tauri/src/domain/client/mod.rs
  src-tauri/src/domain/mod.rs
  src-tauri/src/domain/portforward/mod.rs
  src-tauri/src/domain/portforward/portforward_manager.rs
  src-tauri/src/domain/resources/context.rs
  src-tauri/src/domain/resources/deployment.rs
  src-tauri/src/domain/resources/mod.rs
  src-tauri/src/domain/resources/namespace.rs
  src-tauri/src/domain/resources/pod.rs
  src-tauri/src/domain/resources/portforward.rs
  src-tauri/src/infrastructure/app.rs
  src-tauri/src/infrastructure/error.rs
  src-tauri/src/main.rs
  src/components/resources/pod/pod-actions/index.ts
  src/components/resources/pod/pod-actions/pod-actions.tsx
  src/components/resources/pod/pod-actions/portforward-action/index.ts
  src/components/resources/pod/pod-actions/portforward-action/portforward-action.tsx
  src/components/resources/pod/pod.tsx
  src/core/invoker.ts
  src/services/constant.ts
  src/services/context.ts
  src/services/index.ts
  src/services/pod.ts
  src/services/portforward.ts
  src/stores/index.ts
  src/stores/use-kube.ts
  src/stores/use-portforward.ts
Due: eslint, prettier --check, rustfmt --check

Fixed context and cluster binding issue
  src-tauri/src/domain/client/client_manager.rs
  src-tauri/src/domain/resources/context.rs
  src-tauri/src/domain/resources/deployment.rs
  src/components/resources/pod/pod.tsx
  src/components/sidebar/context-picker/context-picker.tsx
Due: eslint, rustfmt --check

Moved namespace to sidebar
  src/components/layout/layout.tsx
  src/components/sidebar/namespace-picker/index.ts
  src/components/sidebar/namespace-picker/namespace-picker.tsx
  src/components/sidebar/sidebar.tsx
Due: eslint

Added logs page
  .DS_Store
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domain/resources/pod.rs
  src-tauri/src/main.rs
  src/components/resources/.DS_Store
  src/components/resources/pod-list/.DS_Store
  src/components/resources/pod-list/container-status/container-status.tsx
  src/components/resources/pod-list/container-status/index.ts
  src/components/resources/pod-list/index.ts
  src/components/resources/pod-list/pod-detail/.DS_Store
  src/components/resources/pod-list/pod-detail/index.ts
  src/components/resources/pod-list/pod-detail/log-action/index.ts
  src/components/resources/pod-list/pod-detail/log-action/log-action.tsx
  src/components/resources/pod-list/pod-detail/pod-detail.tsx
  src/components/resources/pod-list/pod-detail/portforward-action/index.ts
  src/components/resources/pod-list/pod-detail/portforward-action/portforward-action.tsx
  src/components/resources/pod-list/pod-list.tsx
  src/components/resources/pod/index.ts
  src/components/resources/pod/pod-actions/index.ts
  src/components/resources/pod/pod-actions/pod-actions.tsx
  src/pages/pod.page.tsx
  src/services/pod.ts
Due: eslint, rustfmt --check

Fixed dynamic select failed issue
  .idea/ruff.xml
  src-tauri/src/domain/client/api_helper.rs
  src-tauri/src/domain/client/client_manager.rs
  src-tauri/src/domain/client/mod.rs
  src-tauri/src/domain/resources/context.rs
  src-tauri/src/domain/resources/deployment.rs
  src-tauri/src/domain/resources/pod.rs
  src-tauri/src/domain/resources/portforward.rs
  src-tauri/tauri.conf.json
  src/components/resources/pod-list/pod-detail/pod-detail.tsx
  src/components/sidebar/context-picker/context-picker.tsx
  src/components/sidebar/namespace-picker/namespace-picker.tsx
  src/components/sidebar/sidebar.tsx
  src/components/workload/.DS_Store
  src/components/workload/deployment/deployment.tsx
  src/components/workload/deployment/index.ts
  src/components/workload/env-card/env-card.tsx
  src/components/workload/env-card/index.ts
  src/components/workload/index.ts
  src/components/workload/pod-list/.DS_Store
  src/components/workload/pod-list/container-status/container-status.tsx
  src/components/workload/pod-list/container-status/index.ts
  src/components/workload/pod-list/index.ts
  src/components/workload/pod-list/pod-detail/.DS_Store
  src/components/workload/pod-list/pod-detail/index.ts
  src/components/workload/pod-list/pod-detail/log-action/index.ts
  src/components/workload/pod-list/pod-detail/log-action/log-action.tsx
  src/components/workload/pod-list/pod-detail/pod-detail.tsx
  src/components/workload/pod-list/pod-detail/portforward-action/index.ts
  src/components/workload/pod-list/pod-detail/portforward-action/portforward-action.tsx
  src/components/workload/pod-list/pod-list.tsx
  src/index.tsx
  src/pages/deployment.page.tsx
  src/pages/pod.page.tsx
  src/services/context.ts
  src/services/pod.ts
  src/stores/use-kube.ts
Due: eslint, prettier --check, rustfmt --check

Fixed clippy error
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domain/client/client_manager.rs
  src/components/sidebar/context-picker/context-picker.tsx
  src/components/workload/env-card/env-card.tsx
  src/services/context.ts
Due: eslint, rustfmt --check

Fixed untrusted cert
  src-tauri/src/domain/client/client_manager.rs
  src-tauri/src/main.rs
Due: rustfmt --check

Migrated to tauri 2
  .idea/jsLibraryMappings.xml
  .idea/prettier.xml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/core/invoker.ts
Due: eslint, prettier --check, rustfmt --check

Used setup instead of manage
  src-tauri/src/lib.rs
Due: rustfmt --check

Fixed init client & refactored commands
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domain/client/client_manager.rs
  src-tauri/src/domain/resources/contexts/commands.rs
  src-tauri/src/domain/resources/contexts/mod.rs
  src-tauri/src/domain/resources/deployments/commands.rs
  src-tauri/src/domain/resources/deployments/mod.rs
  src-tauri/src/domain/resources/mod.rs
  src-tauri/src/domain/resources/namespaces/commands.rs
  src-tauri/src/domain/resources/namespaces/mod.rs
  src-tauri/src/domain/resources/pods/commands.rs
  src-tauri/src/domain/resources/pods/mod.rs
  src-tauri/src/domain/resources/portforward/commands.rs
  src-tauri/src/domain/resources/portforward/mod.rs
  src-tauri/src/lib.rs
Due: rustfmt --check

Updated pf naming
  src-tauri/src/domain/portforward/portforward_manager.rs
Due: rustfmt --check

Added log plugin
  .idea/misc.xml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domain/client/client_manager.rs
  src-tauri/src/domain/portforward/portforward_manager.rs
  src-tauri/src/domain/resources/contexts/commands.rs
  src-tauri/src/domain/resources/deployments/commands.rs
  src-tauri/src/domain/resources/namespaces/commands.rs
  src-tauri/src/domain/resources/pods/commands.rs
  src-tauri/src/domain/resources/portforward/commands.rs
  src-tauri/src/lib.rs
Due: prettier --check, rustfmt --check

Updated app logo
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
Due: none

Refactor context picker without reading env
  .idea/ruff.xml
  package-lock.json
  package.json
  src-tauri/.DS_Store
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/icons/.DS_Store
  src-tauri/src/domain/client/client_manager.rs
  src-tauri/src/domain/resources/contexts/commands.rs
  src-tauri/src/domain/resources/deployments/commands.rs
  src-tauri/src/domain/resources/namespaces/commands.rs
  src-tauri/src/domain/resources/pods/commands.rs
  src-tauri/src/domain/resources/portforward/commands.rs
  src-tauri/src/infrastructure/app.rs
  src-tauri/src/infrastructure/error.rs
  src-tauri/src/lib.rs
  src/App.tsx
  src/components/header/context-picker/context-picker.tsx
  src/components/header/context-picker/index.ts
  src/components/header/header.tsx
  src/components/layout/layout.tsx
  src/components/sidebar/context-picker/context-picker.tsx
  src/components/sidebar/namespace-picker/namespace-picker.tsx
  src/components/sidebar/sidebar.tsx
  src/components/workload/deployment/deployment.tsx
  src/services/context.ts
  src/services/namespace.ts
Due: eslint, prettier --check, rustfmt --check

Fixed kubeconfig loading issue & layout size issue
  src-tauri/src/domain/client/client_manager.rs
  src-tauri/src/domain/resources/contexts/commands.rs
  src-tauri/src/domain/resources/deployments/commands.rs
  src-tauri/src/domain/resources/namespaces/commands.rs
  src-tauri/src/domain/resources/pods/commands.rs
  src-tauri/src/domain/resources/portforward/commands.rs
  src-tauri/src/infrastructure/error.rs
  src-tauri/src/lib.rs
  src/components/header/header.tsx
  src/components/layout/layout.tsx
Due: eslint, rustfmt --check

Removed portforwarder
  src-tauri/src/domain/future/future_manager.rs
  src-tauri/src/domain/mod.rs
  src-tauri/src/domain/portforward/mod.rs
  src-tauri/src/domain/portforward/portforward_manager.rs
  src-tauri/src/domain/resources/mod.rs
  src-tauri/src/domain/resources/pods/commands.rs
  src-tauri/src/domain/resources/portforward/commands.rs
  src-tauri/src/domain/resources/portforward/mod.rs
  src-tauri/src/infrastructure/app.rs
  src-tauri/src/lib.rs
  src/components/workload/pod-list/pod-detail/exec-action/terminal-dialog/terminal-dialog.tsx
  src/components/workload/pod-list/pod-detail/log-action/log-dialog/log-dialog.tsx
  src/components/workload/pod-list/pod-detail/portforward-action/portforward-action.tsx
  src/components/workload/pod-list/pod-detail/portforward-action/portforward-dialog/portforward-dialog.tsx
  src/services/index.ts
  src/services/pod.ts
  src/services/portforward.ts
  src/stores/use-portforward.ts
Due: eslint, rustfmt --check

Fixed focus issue
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domain/client/client_manager.rs
  src/components/workload/pod-list/pod-detail/exec-action/terminal-dialog/terminal-dialog.tsx
Due: eslint, rustfmt --check

Changed created at to age
  src/components/workload/deployment-list/deployment-list.tsx
  src/components/workload/pod-list/pod-list.tsx
Due: eslint

Added delete pod
  src-tauri/src/domain/resources/pods/commands.rs
  src-tauri/src/lib.rs
  src/components/workload/pod-list/pod-list.tsx
  src/services/pod.ts
Due: eslint, rustfmt --check

Added describe deployment
  src-tauri/src/domain/client/client_manager.rs
  src-tauri/src/domain/client/mod.rs
  src-tauri/src/domain/mod.rs
  src-tauri/src/domain/resources/contexts/commands.rs
  src-tauri/src/domain/resources/contexts/mod.rs
  src-tauri/src/domain/resources/deployments/commands.rs
  src-tauri/src/domain/resources/namespaces/commands.rs
  src-tauri/src/domain/resources/pods/commands.rs
  src-tauri/src/lib.rs
  src/components/shared/terminal/dialog-bar/dialog-bar.tsx
  src/components/shared/terminal/dialog-bar/index.ts
  src/components/shared/terminal/index.ts
  src/components/shared/terminal/terminal.interface.ts
  src/components/shared/terminal/terminal.tsx
  src/components/workload/deployment-list/deployment-list.tsx
  src/components/workload/deployment-list/describe-action/describe-action.tsx
  src/components/workload/deployment-list/describe-action/index.ts
  src/components/workload/deployment-list/describe-dialog/describe-dialog.tsx
  src/components/workload/deployment-list/describe-dialog/index.ts
  src/components/workload/pod-list/pod-detail/exec-action/terminal-dialog/terminal-dialog.tsx
  src/components/workload/pod-list/pod-detail/log-action/log-dialog/log-dialog.tsx
  src/services/deployment.ts
Due: eslint, rustfmt --check

Fixed typo
  src/components/workload/pod-list/pod-detail/portforward-action/portforward-dialog/portforward-dialog.tsx
Due: eslint

Changed sh to bash
  src-tauri/src/domain/resources/pods/commands.rs
Due: rustfmt --check

setup cicd
  .github/workflows/ci.yaml
Due: none

refinement
  .github/workflows/ci.yaml
Due: none

refinement
  .github/workflows/main.yaml
Due: none

removed linux
  .github/workflows/main.yaml
Due: none

refinement
  .github/workflows/macos.yaml
  .github/workflows/windows.yaml
Due: none

refinement
  .github/workflows/build.yaml
  .github/workflows/windows.yaml
Due: none

Path conditions:
  eslint: any of: **/*.{js,jsx,ts,tsx}
  prettier --check: any of: **/*.{json,md,html}
  rustfmt --check: any of: **/*.rs
