Repository xianyuntang/ostler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, rustfmt --check

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint"
  ],
  "**/*.{json,md,html}": [
    "prettier --check"
  ],
  "**/*.rs": [
    "rustfmt --check"
  ]
}

refinement
  .github/workflows/build.yaml
Due: none

Added README
  .github/workflows/build.yaml
  README.md
Due: prettier --check

Setup CICD
  .github/workflows/build.yaml
  README.md
Due: prettier --check

Create LICENSE
  LICENSE
Due: none

Updated LICENSE section
  README.md
Due: prettier --check

Added invoker error
  src/components/workload/pod-list/pod-detail/portforward-action/portforward-dialog/portforward-dialog.tsx
  src/core/invoker.ts
Due: eslint

Added filter
  src/components/workload/deployment-list/deployment-list.tsx
  src/components/workload/pod-list/pod-list.tsx
Due: eslint

Test cicd
  .github/workflows/build.yaml
Due: none

Removed unused table cell
  .github/workflows/build.yaml
  src/components/workload/deployment-list/deployment-list.tsx
  src/components/workload/pod-list/pod-list.tsx
Due: eslint

Added multiple context file support
  src-tauri/src/domain/client/client_manager.rs
  src-tauri/src/domain/client/kubeconfig_key.rs
  src-tauri/src/domain/client/mod.rs
  src-tauri/src/domain/resources/contexts/commands.rs
  src-tauri/src/infrastructure/error.rs
  src-tauri/src/lib.rs
  src/components/header/context-picker/context-picker.tsx
Due: eslint, rustfmt --check

Refined print
  src-tauri/src/domain/client/client_manager.rs
Due: rustfmt --check

Refinement pub(crate) to pub
  src-tauri/src/domain/client/mod.rs
  src-tauri/src/domain/mod.rs
  src-tauri/src/domain/resources/contexts/mod.rs
  src-tauri/src/domain/resources/deployments/mod.rs
  src-tauri/src/domain/resources/mod.rs
  src-tauri/src/domain/resources/namespaces/mod.rs
  src-tauri/src/domain/resources/pods/mod.rs
  src-tauri/src/infrastructure/response.rs
Due: rustfmt --check
